.container {
    color: whitesmoke;
    background: black;
    padding: 4px 6px;
    border: 1px #222 solid; 
}
p {
    font: 400 15px/1.8 Lato, sans-serif;
    text-align: center;
    font-size: 18px;
}
body {
    color: #000;
    background-color: floralwhite;
}



